* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
@media screen and (min-width: 1201px) {
    body {
        background: url('../images/Maske0e0e0.svg');
    }
}
